/* 
ReservesDirect Style Sheet  
ReserveStyles.css

Sample style sheet for Open Source distribution.

Last Modified 11/26/2005
*/

/*
 ************************************************* 
 DEFAULT HTML TAG DEFINITIONS 
 ************************************************* 
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
    margin:0;
    padding:0;
    color:#000000;
    font-size:small;
}
p {
	font-style: normal;
	font-size: small;
}
tr {
	font-size: small;
}
td {
	font-size: small;
}
h1 {
	color: #333399;
	font-size: 24px;
	text-align: left;
	font-variant: small-caps;
}
h2 {
	color: #000066;
	font-size: 16px;
	text-transform: capitalize;
}
h3 {
	text-transform: uppercase;
	color: #990033;
	font-size: 16px;
} 
a:link {
	color: #0000FF;
	text-decoration: none;
}
a:visited {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	color: #999900;
}





/*
************************************************* 
LINK DEFINITIONS 
************************************************* 
*/

/* 'editlinks' define the appearance of links that perform editing functions on all edit 
 screens, including 'Edit Class', 'Edit Item', and 'Edit User'. */
 
a.editlinks:hover {
	
	color: #660033;
	text-decoration: underline;
	font-size: small;
	font-weight: normal;
}
a.editlinks:link {
	
	color: #993333;
	text-decoration: underline;
	font-size: small;
	font-weight: normal;
}
a.editlinks:visited {
	
	color: #993333;
	text-decoration: underline;
	font-size:small;
	font-weight: normal;
}
a.editlinks:hover {
	
	color: #660033;
	text-decoration: underline;
	font-size: small;
	font-weight: normal;
}

/* 'helptab' defines the appearance of top navigation links in the help file. */
a.helptab:link {
	
	color: #333333;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}
a.helptab:visited {
	
	color: #333333;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}
a.helptab:hover {
	
	color: #FFFFFF;
	text-decoration: underline;
	font-size: medium;
	font-weight: bold;
}
a.helptab:active {
	
	color: #FFFFFF;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}

/* 'helptopic' defines the appearance of topical headers in the helpfile navigation menu. */
a.helptopic:link {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:visited {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

/* 'helpsubtopic' defines the appearance of subtopic headers in the helpfile navigation menu. */
a.helpsubtopic:link {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bolder;
	left: 8px;
}
a.helpsubtopic:visited {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}

/* 'itemTitle' defines how reserve item title links are listed. */

a.itemTitle:link {
	
	color: #0000FF;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}
a.itemTitle:visited {
	
	color: #0000FF;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}
a.itemTitle:hover {
	
	color: #999900;
	text-decoration: underline;
	font-size: medium;
	font-weight: bold;
}

/* 'subnav' defines the appearance and links that appear
in the subnavigation bar just below the main navigation tabs. */
a.subnav:link {
	
	color: #333333;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
a.subnav:visited {
	
	color: #333333;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
a.subnav:hover {
	
	color: #666666;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}
a.subnav:active {
	
	color: #CC0000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

/* titlelink defines certain links that are used as titles as headings to paragraphs or section */
a.titlelink:link {
	color: #0000FF;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}
a.titlelink:visited {
	color: #0000FF;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}
a.titlelink:hover {
	
	text-decoration: underline;
	font-weight: bold;
	color: #999900;
	}

/*
************************************************* 
POSTITIONAL LAYOUT STYLES and PAGE REGION DEFINITIONS 

NOTE: Changing certain properties of these styles 
(such as margin, float, width, height, and padding) can significantly alter the
appearance of the ReservesDirect interface.
************************************************* 
*/

#container { /* a wrapper for the entire page layout */
	margin: 0px;
	width: 100%;
}
#Header { /* a wrapper containing the branding image divs */
	margin: 0px;
	padding: 0px;
	height: 100px;
}

/* 'brand' classes are for branding logos. UpperLeft would
generally be for the institution logo, UpperRight for the
program logo (default is 'ReservesDirect' logo). */

#Header .brandUpperLeft {
	margin: 0px;
	float: left;
	padding: 0px;
	height: 70px;
	width: 40%;
	background-image: url('../images/logo-el-blue.jpg');
	background-repeat: no-repeat;
	background-position: 10px 0 left top;
}
#Header .brandUpperRight {
	margin: 0px;
	display: block;
	text-align: right;
	vertical-align: top;
	float: right;
	clear: none;
	height: 100px;
	width: 50%;
	background-image: url('../images/logo-rd-gold-book.jpg');
	background-repeat: no-repeat;
	background-position: right top;
}
#Navigation { /* a wrapper containing 'resourceLinks', 'functionLinks', 'mainNav' and 'subNav' */
	margin: 0px;
	padding: 0px;
}

.functionLinks { /* 'functionlinks' describe the links to site-wide functions like help, sign off, and edit profile
that appear on every screen.   */
	margin: 8px 10px 0px 0px;
	text-align: right;
	padding-bottom: 8px;
	font-size: x-small;
	font-weight: normal;
	color: #993333;
	height: 10px;
	float: right;
}
.functionLinks a:link {
	color: #993333;
}
.functionlinks a:hover {
	color: #993333;
	text-decoration: underline;
}
.functionLinks a:visited {
	color: #993333;
}
.resourceLinks { /* can be used for links to other library sites or resources 
such as eJournals or Blackboard. Empty in the default implementation of RD 2.x. */
	font-weight: bold;
	color: #666666;
	float: left;
	margin-left: 10px;
}
/* mainNav defines the navigational tabs.
Tabs are created using the 'Sliding Doors' CSS tabs technique
by Douglas Bowman at http://www.alistapart.com/articles/slidingdoors/
This technique can be used to create many different types of tabs;
the commented guidelines below are for creating standard tabs. */
#mainNav {
    float:left;
    width:100%;
    background:#7C89CA url('../images/navtab-default-bg.gif') 
      repeat-x bottom; /* creates the background behind the tabs--should be only 2-3 pixels wide.
	  						background color should be same as top color of bg image. */
	font:x-small/1.5em Arial, Helvetica, sans-serif;
	font-size:x-small;
    } 
	
#mainNav ul {
    margin:0;
    padding:0;
	padding:12px 10px 0; /* padding to top|right and left|bottom of ul, creates space around whole nav bar */
    list-style:none;
    }
#mainNav li {
    float:left;
	background:url('../images/navtab-default-left-up.gif')
      no-repeat left top; /* left-hand tab image for inactive tabs */
    margin:0;
    padding:0 0 0 10px; /* top|right|bottom|left padding. left padding=px width of left image */
    }
#mainNav a {
	float:left;
	display:block;
	background:url('../images/navtab-default-right-up.gif')
      no-repeat right top;  /* right-hand tab image for inactive tabs */
	padding:5px 15px 4px 5px; /* left padding=right padding - pixel width of left image
								bottom padding=desired overall bottom padding-pixel 
								width of bottom border, if any */
	font-weight: bold;
	font-size:12px;
	color: #FFFFFF;
	text-decoration: none;
    }
	/* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  #mainNav a {float:none;}
  /* End IE5-Mac hack */ 
#mainNav a:hover {
      color:#FFFF66;
	  }	
#mainNav #current {
	background-image:url('../images/navtab-default-left-down.gif'); /* left-hand tab image for active tabs */
    }
#mainNav #current a {
	background-image:url('../images/navtab-default-right-down.gif'); /* right-hand tab image for active tabs */
	padding-bottom:5px; /* bottom padding=top padding of mainNav a */
	color: #333399;
    }
#subNav { /* a wrapper for 'navItems' and 'user'. */
	margin: 0px 10px;
	height: 20px;
	vertical-align: bottom;
	display: block;
}
.navItems { /* empty in default implementation of RD 2.x */
	margin: 0;
	padding: 0;
	float: left;
}
.user {
	font-size: small;
	font-weight: bold;
	color: #333333;
	margin-top: 3px;
	margin-bottom: 3px;
	float: right;
}
#divider { /* seperates navigation from content area */
	background-image: url('../images/div-bg-yellow.gif');
	background-repeat: repeat;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000066;
	border-bottom-color: #000066;
	height: 10px;
	margin: 0px;
	padding: 0px;
	clear: both;
}
#Location { /* a wrapper for 'locationIndicatorText' and 'currentClass' */
	margin: 0px;
	padding: 3px 0px 8px;
	height: 16px;
}
.locationIndicatorText {
	font-size: 14px;
	font-weight: bold;
	text-transform: lowercase;
	color: #333333;
	text-decoration: none;
	float: left;
	padding-left: 10px;
}
.currentClass {
	font-weight: bold;
	color: #333399;
	padding-right:10px;
	float: right;
}
.clear {
	clear: both;
	padding: 0;
	margin: 0;
	display: block;
}
#noJavaAlert {
	margin:0px 50px;
	text-align:center;
	padding:3px;
}
#alertMsg {
	margin:0px 50px;
	text-align:center;
	padding:3px;
}
#Content { /* wraps the content display area */
	margin: 0px 50px;
	min-height:200px;
	clear: both;	
}
/* IE hack to get the width right \*/
* html #Content {
	width: 100%; 
}
/* end IE hack */

/*contetTabs and displayList together control how most tables and lists display in the main content area */
.contentTabs {
    margin-left:0px;
    background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
    } 
	
.contentTabs ul {
	margin-left:0px;
	padding:0px; 
    list-style:none;
    }
.contentTabs li {
    float:left;
    margin:3px 3px 0 3px;
    padding:0; 
    border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	}
.contentTabs a {
	float:left;
	display:block;
	background-color: #CCCCCC;
	padding:4px 20px 4px 20px; /* left padding=right padding - pixel width of left image
								bottom padding=desired overall bottom padding-pixel 
								width of bottom border, if any */
	color: #333333;
	text-decoration: none;
	font-weight: bold;
    }
	/* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  .contentTabs a {float:none;}
  /* End IE5-Mac hack */ 
.contentTabs a:hover {
     color: #000066;
	text-decoration: underline;
	background-color: #CCCC99;
	  }	
.contentTabs .current a, .contentTabs .current a:hover {
	border-bottom: 1px solid #CCCCCC;
	background-color: #333333;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
	padding-bottom:4px; /* bottom padding=top padding of mainNav a */
    }
.contentTabs .current a:hover {
	
}
table.displayList {	
	border:1px solid #333333;
	border-collapse:collapse;
}
table.displaylist td{
	padding:4px;
}
.displayList .actions, .displayList .actions a {
	color:#CCCCCC;
	text-decoration:none;
}
.displayList .actions a:hover {
	color:#CCCCCC;
	text-decoration:underline;
}
.displayList .head, .displayList .foot{
	background-color:#333333;
	color:#FFFFFF;
}

.displayList .divider {

	background-color: #CCCCFF;
	color:#333333;
	text-align: left;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	
}

/* oddRow/evenRow define how alternating row colors appear in tables */
.oddRow {
    padding-top:1px; /* this fixes a display error in IE for the default implementation. Change at your own risk. */
	background-color: #CCCCCC;
	border-left:1px solid #333333; 
	border-right:1px solid #333333;
}
.evenRow {
    padding-top:1px; /* this fixes a display error in IE for the default implementation. Change at your own risk. */
	background-color: #FFFFFF;
	border-left:1px solid #333333; 
	border-right:1px solid #333333;
}
.headingCell1 {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
	text-align: center;
	padding:5px;
	
}
.headingCell2 {

	background-color: #CCCCFF;
	text-align: left;
	padding: 0;
	border: 1px solid #333333;
	
}
.headingCell2 .headingText{
	font-size: large;
	font-weight: bold;
	color: #333333;
	padding: 3px 0 5px 5px;

	
}
.reserveItem {
	margin:0px; 
	padding:0px; 
	border-left:1px solid #999999; 
	border-right:1px solid #999999;
}
.editOptions { /* the editing box thate appears next to reserve items on the edit class screen */
	float:right; 
	margin:0 0 0 5px; 
	width:245px; 
	padding:3 0 0 0; 
	height:25px; 
	vertical-align:middle;
}
.editOptionsTitles {
	margin:0px;
	padding-bottom:5px;
}
.editOptions .checkBox, .editOptionsTitles .checkBox,  .editOptions .editBox, .editOptionsTitles .editBox,.editOptions .sortBox, .editOptionsTitles .sortBox ,.editOptions .itemNumber, .editOptionsTitles .itemNumber,.editOptions .statusBox, .editOptionsTitles .statusBox {
	float:right; 	
	vertical-align:middle;
	text-align:center;	
	padding-left:5px;
	font-size:9pt;
	
}
.editOptions .checkBox, .editOptionsTitles .checkBox {
	width:40px;
}
.editOptions .editBox, .editOptionsTitles .editBox {
	width:30px;
}
.editOptions .sortBox, .editOptionsTitles .sortBox {
	width:30px;
}
.editOptions .itemNumber, .editOptionsTitles .itemNumber {
	width:30px;
}
.editOptions .statusBox, .editOptionsTitles .statusBox {
	width:85px;
}
.iconBlock { /* wrapper for the item type icon appearing next to items */
	float:left; 
	width:29px; 
	padding:3px 0 0 5px;
}
.metaBlock { /* wrapper for item metadata on the edit class screen */
	margin-left:35px; 
	margin-right:245px; 
	margin-top:0px;
	padding:3px 5px 5px 0;
	border-right:1px solid #999999;
}
.metaBlock-wide { /* wrapper for item metadata on screens other than the edit class screen */
	margin-left:35px; 
	margin-right:60px; 
	padding:3px 5px 5px 0;
}
.checkBox-right { /* wrapper for the checkboxes that appear on the student class view */
	float:right; 
	margin:0px; 
	width:20px;
	padding:3px; 
	padding-left:10px; 
	padding-right:10px;
}
.homenav {
	
	font-size: 12px;
	font-weight: bold;
	list-style-type: none
}
#Footer { /* a wrapper for the footer content areas */
	margin: 40px 0px 10px 0px;
	left: 0px;
	background-color: #FFFFFF; /* #E9E880; */
	display: block;
	border-top: 1px solid #666666;
/*	border-bottom: 1px solid #666666; */
	padding: 10px 5px;
	font-size: xx-small;
	font-style: italic;
}
.footerContentLeft {
	text-align: left;
	vertical-align: top;
	display: block;
	left: 0;
	width:250px;
	float: left;
}
.footerContentCenter {
	text-align: left;
	vertical-align: top;
	display: block;
	margin-right:200px;
	margin-left:250px;
	float: none;
	text-align:center;
}
.footerContentRight {
	text-align: right;
	vertical-align: top;
	display: block;
	width:200px;
	float: right;
	right: 0px;
}



/*
************************************************* 
FORMATTING DEFINITIONS 
************************************************* 
*/
.indent {
	text-indent: 25px;
	left: 8px;
}
.nobullet {
	list-style-type: none;
}
.borders {
	border: 1px solid #666666;
}
.border-helpfile {
	border: 1px solid #000066;
}
#printRequest { /* controls how physical item requests appear when printed,
whether there should be page breaks or no page breaks. */
	page-break-before:always;
}



/*
 ************************************************* 
 TEXT DISPLAY DEFINITIONS 
 ************************************************* 
*/

/* The following group of tags define how reserve items are listed, along with a.itemTitle 
(see "Link Definitions" above).
'itemTitle' defines the appearance of item titles for materials that do not have live links 
(like physical items) and for reserve item lists that do not show items as hot links (like the sort screen)
itemMetaPre defines how some prefixes to metadata information appear, for example 'from' x journal or book.*/

.itemTitleNoLink {
	font-size: medium;
	font-weight: bold;
	color: #000000;

}
.itemAuthor {
	font-size: x-small;
	font-style: normal;
	text-transform: uppercase;

}
.itemMeta {
	font-size: x-small;
	font-style: normal;
	color: #000000;

}
.itemMetaPre {
	font-size: x-small;
	font-style: italic;

} 
.noteType {
	font-size: small;
	font-weight: bold;
	color: #660000;

}
.noteText {
	font-size: small;
	font-weight: bold;
	color: #000000;
}

/* Other text definition tags below.... */
.button, .button:focus {
    color: #fff;
    background-color: #339;
    border-bottom: 1px solid #333;
    border-right: 1px solid #000;
    border-left: 1px solid #C4C4B8;
    border-top: 1px solid #C4C4B8;
    -moz-border-radius: 5px;
}
.button:hover {
    background-color: #66a;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.small-x {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.helperText {  
		 
		font-size: small; 
		font-weight: bold; 
		color: #000099
}
.courseTitle {
	font-size: large;
	font-weight: bold;
	font-variant: small-caps;
	color: #000066;
}
.courseHeaders {

	padding: 3px 0 3px 0;
}
.courseHeaders .label {
	font-weight: bold;
	color: #660000;
}
.strong {
	font-weight: bold;
	color: #000000;
}
.successText {
	font-weight: bold;
	color: #009900;
}
.failedText {
	font-weight: bold;
	color: #CC0000;
}
.itemNumber {
	
	font-size: small;
	font-weight: bold;
	font-variant: small-caps;
	color: #999999;
}
.hiddenItem a.itemTitle:link, .hiddenItem .itemTitleNoLink, .hiddenItem .itemMetaPre, .hiddenItem .itemMeta, .hiddenItem .itemAuthor, .hiddenItem .noteType, .hiddenItem .noteText {    
		color: #999999;
}
/*hiddenItem defines the appearance of reserve materials 
that students have chosen to hide from view. */
.instructionText {
	display: block;
	text-align: left;
	float: none;
	padding: 10px;
	width: 650px;
	margin: auto;
	border: 1px solid black;

/*instructionText is used for any text that gives instructions to users on steps or actions to take.*/

}

/* statusText styles are used on the "Edit Class" page for text that indicates the current status
of materials on reserve. */
.heading {
	font-weight: bold;
	color: #000066;

}

.inProcess {
	color: #666666;
	font-weight: bold;

}

.active {
	color: #009900;
	font-weight: bold;

}

.inactive {
	color: #CC0000;
	font-weight: bold;

}

/*Auto complete Definitions for search lookup screens*/

#keyword {
margin: 0 25px 0 0;
padding:0px;
width: 300px;
display: block;
border:1px solid #99b58d;
}


.LSResult {
      position: absolute;
      
      width: 350px;
      margin: 1px 0px 2px 0px;
      padding: 0px;
      clear:  left;
      z-index:  100;
      border:1px solid #666666;
      color: #783E3F;
      background-color: #EDD2C9;
      
      height:150px;
      overflow:auto;
}
.LSResult ul {
	list-style-position:inside; 
     margin-bottom: -5px;
     margin-top: 0px;
     padding-top: 0px;
     margin: 0;
     padding: 0px;
}
.LSResult li {
    padding: 2px 10px;
    line-height:normal;
    margin-bottom: 0px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
/*
.LSResult ul li {
    text-indent: -20px;
    padding: 0px 15px 0 20px;
    margin-top:0;
    line-height:1em;
    list-style-type: none;
}
.LSShadow ul {
      position: relative;
      right: 1px;
      margin: 0px;
      padding: 0px;
      background-color: #FFFFFF; /*shadow color*/
      color: inherit;
}
*/
.LSRes {
      position: relative;
      bottom: 1px;
      right: 1px;
      background-color: white;
      border:  1px solid #AAA;
}
#LSHighlight {

     color: #783E3F;
     background-color: #DEC4B9;
}
.LSRow li {	
	color:green;
	cursor:default;
	font-size:12px;
	font-weight:normal;
}
/*
****************************************
Help Screen Definitions
****************************************
*/
.headingCell-helpfileActive {
	
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000066;
	text-align: center;
}
.headingCell-helpfileInactive {
	
	font-size: small;
	font-weight: bold;
	text-transform: capitalize;
	color: #333333;
	background-color: #CCCCCC;
	text-align: center;
}



#helpTabs {
    float:left;
    width:100%;
    background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
    } 
	
#helpTabs ul {
    margin:0;
    padding:0;
	padding:0; /* padding to top|right and left|bottom of ul, creates space around whole nav bar */
    list-style:none;
    }
#helpTabs li {
    float:left;
    margin:3px 3px 0 3px;
    padding:0; 
    border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	}
#helpTabs a {
	float:left;
	display:block;
	background-color: #CCCCCC;
	padding:4px 20px 4px 20px; /* left padding=right padding - pixel width of left image
								bottom padding=desired overall bottom padding-pixel 
								width of bottom border, if any */
	color: #333333;
	text-decoration: none;
	font-weight: bold;
    }
	/* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  #helpTabs a {float:none;}
  /* End IE5-Mac hack */ 
#helpTabs a:hover {
     color: #000066;
	text-decoration: underline;
	  }	
#helpTabs #current {
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
    }
#helpTabs #current a {
	background-color: #000066;
	color: #FFFFFF;
	text-decoration: none;
	padding-bottom:4px; /* bottom padding=top padding of mainNav a */
    }

/* 'helptopic' defines the appearance of topical headers in the helpfile navigation menu. */
a.helptopic:link {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:visited {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

/* 'helpsubtopic' defines the appearance of subtopic headers in the helpfile navigation menu. */
a.helpsubtopic:link {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bolder;
	left: 8px;
}
a.helpsubtopic:visited {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
.border-helpfile {
	border: 1px solid #000066;
}

#index {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
}
#index #broadTopic a {
	color: #000066;
	font-weight: bold;
	text-decoration: none;
}
#index #broadTopic a:hover {
	color: #003399;
	font-weight: bold;
	text-decoration: underline;
}
#index #narrowTopic a {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-indent: 8px;
}
#index #narrowTopic a:hover {
	font-weight: bold;
	color: #999999;
	text-decoration: underline;
	text-indent: 8px;
}


