/* 
ReservesDirect Style Sheet  
ReserveStyles.css

Default implementation for General Libraries
Emory University
Atlanta, GA 30322

Last Modified 9/21/2004
*/

/*
 ************************************************* 
 DEFAULT HTML TAG DEFINITIONS 
 ************************************************* 
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
    margin:0;
    padding:0;
    color:#000000;
    font-size:small;
}
p {
	font-style: normal;
	font-size: 12px;
}
tr {
	font-size: small;
}
td {
	font-size: small;
}
h1 {
	color: #000000;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	/*font-variant: small-caps;*/
}
h2 {
	color: #333333;
	font-size: 14px;
	text-transform: none;
	font-weight: bold;
}
h3 {
	text-transform: none;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
} 
a:link {
	font-size: small;
	color: #006600;
	text-decoration: underline;
}
a:visited {
	font-size: small;
	color: #006600;
	text-decoration: underline;
}
a:hover {
	font-size: small;
	color: #006600;
	text-decoration: none;
}


/*
**************************************************
HEADER DEFINITIONS 
**************************************************
*/

/* 'brand' classes are for branding logos. UpperLeft would
generally be for the institution logo, UpperRight for the
program logo (default is 'ReservesDirect' logo). */
.brandUpperLeft {
	background-image:  url('../images/skins/bus/header-leftslice.gif');
	background-repeat: no-repeat;
	background-position: left 0px;
	padding-bottom:10px;
	height: 95px;
}
.brandUpperRight {
	background-image:  url('../images/skins/bus/header-rtslice.gif');
	background-repeat: no-repeat;
	background-position: right 0px;
	padding-bottom:10px;
}

/* mainNav defines the navigational tabs.
Tabs are created using the 'Sliding Doors' CSS tabs technique
by Douglas Bowman at http://www.alistapart.com/articles/slidingdoors/
This technique can be used to create many different types of tabs;
the commented guidelines below are for creating standard tabs. */
#mainNav {
	float:left;
	width:100%;
	font:x-small/1.5em Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	background-color: #79A77D;
	background-image:  url('../images/skins/bus/navtab-default-bg.gif');
	background-repeat: repeat-x;
	background-position: bottom;
    } 
	
#mainNav ul {
    margin:0;
    padding:0;
	padding:12px 10px 0; /* padding to top|right and left|bottom of ul, creates space around whole nav bar */
    list-style:none;
    }
#mainNav li {
    float:left;
	background: url('../images/skins/bus/navtab-default-left-up.gif') 
      no-repeat left top; /* left-hand tab image for inactive tabs */
    margin:0;
    padding:0 0 0 10px; /* top|right|bottom|left padding. left padding=px width of left image */
    }
#mainNav a {
	float:left;
	display:block;
	background: url('../images/skins/bus/navtab-default-right-up.gif') 
      no-repeat right top;  /* right-hand tab image for inactive tabs */
	padding:5px 15px 4px 5px; /* left padding=right padding - pixel width of left image
								bottom padding=desired overall bottom padding-pixel 
								width of bottom border, if any */
	font-weight: bold;
	font-size:12px;
	color: #FFFFFF;
	text-decoration: none;
    }
	/* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  #mainNav a {float:none;}
  /* End IE5-Mac hack */ 
#mainNav a:hover {
      color:#99cc99;
	  }	
#mainNav #current {
	background-image:url('../images/skins/bus/navtab-default-left-down.gif'); /* left-hand tab image for active tabs */
    }
#mainNav #current a {
	background-image:url('../images/skins/bus/navtab-default-right-down.gif'); /* right-hand tab image for active tabs */
	padding-bottom:5px; /* bottom padding=top padding of mainNav a */
	color: #006600;
    }
	
.divider {
	background-repeat: repeat;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	height: 0px;
	background-color: #CCCCCC;
}


/*
************************************************* 
LINK DEFINITIONS 
************************************************* 
*/

/* 'editlinks' define the appearance of links that perform editing functions on all edit 
 screens, including 'Edit Class', 'Edit Item', and 'Edit User'. */
 
a.editlinks:hover {
	
	color: #339933;
	text-decoration: underline;
	font-size: small;
	font-weight: bold;
}
a.editlinks:link {
	
	color: #339933;
	text-decoration: underline;
	font-size: small;
	font-weight: bold;
}
a.editlinks:visited {
	
	color: #339933;
	text-decoration: underline;
	font-size:small;
	font-weight: bold;
}
a.editlinks:hover {
	
	color: #339933;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

/* 'helptab' defines the appearance of top navigation links in the help file. */
a.helptab:link {
	
	color: #333333;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}
a.helptab:visited {
	
	color: #333333;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}
a.helptab:hover {
	
	color: #FFFFFF;
	text-decoration: underline;
	font-size: medium;
	font-weight: bold;
}
a.helptab:active {
	
	color: #FFFFFF;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}

/* 'helptopic' defines the appearance of topical headers in the helpfile navigation menu. */
a.helptopic:link {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:visited {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

/* 'helpsubtopic' defines the appearance of subtopic headers in the helpfile navigation menu. */
a.helpsubtopic:link {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bolder;
	left: 8px;
}
a.helpsubtopic:visited {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}

/* 'itemTitle' defines how reserve item title links are listed. */

a.itemTitle:link {
	
	color: #006600;
	text-decoration: underline;
	font-size: small;
	font-weight: bold;
}
a.itemTitle:visited {
	
	color: #003300;
	text-decoration: underline;
	font-size: small;
	font-weight: bold;
}
a.itemTitle:hover {
	
	color: #006600;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

/* 'subnav' defines the appearance and links that appear
in the subnavigation bar just below the main navigation tabs. */
a.subnav:link {
	
	color: #333333;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
a.subnav:visited {
	
	color: #333333;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
a.subnav:hover {
	
	color: #666666;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}
a.subnav:active {
	
	color: #CC0000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

/* titlelink defines certain links that are used as titles as headings to paragraphs or section */
a.titlelink:link {
	color: #006600;
	font-weight: bold;
	font-size: 16px;
	text-transform: none;
	text-decoration: underline;
}
a.titlelink:visited {
	color: #006600;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: underline;
}
a.titlelink:hover {
	text-decoration: none;
	font-weight: bold;
	color: #006600;
	font-size: 16px;
	}

/*
************************************************* 
PAGE REGION DEFINITIONS 
************************************************* 
*/

/* 'functionlinks' describe the links to site-wide functions like help, sign off, and edit profile
that appear on every screen. In ReservesDirect 2.x, these links appear at the top right
under the ReservesDirect logo.  */
#functionlinks {
	
	font-size: x-small;
	font-weight: normal;
 	color: #006600;
	padding-bottom:5px;
	padding-right:10px;
}
#functionlinks a:link {
	color: #006600;
	font-weight: bold;
}
#functionlinks a:visited {
	color: #006600;
	font-weight: bold;
}

.homenav {
	
	font-size: 12px;
	font-weight: bold;
	list-style-type: none
}
.footer {
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: italic;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.displayList {
	
	font-size: small;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}
/* oddRow/evenRow define how alternating row colors appear in tables */
.oddRow {
	background-color: #CCCCCC;
	font-size: small;
}
.evenRow {
	background-color: #FFFFFF;
	font-size: small;
}
.headingCell1 {
	
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003300;
	text-align: center;
}
#headingCell2 {
	
	font-size: small;
	font-weight: bold;
	color: #333333;
	background-color: #99cc99;
	text-align: left;
	padding: 3px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
#headingCell2 .headingText{
	
	font-size: small;
	font-weight: bold;
	color: #333333;
}
.headingCell-helpfileActive {
	
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000066;
	text-align: center;
}
.headingCell-helpfileInactive {
	
	font-size: small;
	font-weight: bold;
	text-transform: capitalize;
	color: #333333;
	background-color: #CCCCCC;
	text-align: center;
}
.subnav {
	
	font-size: small;
	font-weight: normal;
	color: #666666;
}

/* printRequest controls how physical item requests appear when printed,
whether there should be page breaks or no page breaks. */
#printRequest {
	page-break-after:always;
}

/*
************************************************* 
FORMATTING DEFINITIONS 
************************************************* 
*/
.indent {
	text-indent: 12px;
	left: 8px;
}
.nobullet {
	list-style-type: none;
}
.borders {
	border: 1px solid #666666;
}
.border-helpfile {
	border: 1px solid #000066;
}

/*
 ************************************************* 
 TEXT DEFINITIONS 
 ************************************************* 
*/

/* The following group of tags define how reserve items are listed, along with a.itemTitle 
itemTitle defines the appearance of item titles for materials that do not have live links 
(like physical items) and for reserve item lists that do not show items as hot links (like the sort screen)
itemMetaPre defines how some prefixes to metadata information appear, for example 'from' x journal or book.*/

.itemTitleNoLink {
	font-size: small;
	font-weight: bold;
	color: #000000;

}

.itemAuthor {
	font-size: x-small;
	font-style: normal;
}

.itemMeta {
	font-size: x-small;
	font-style: normal;
	color: #000000;

}

.itemMetaPre {
	font-size: x-small;
	font-style: italic;

} 

.noteType {
	font-size: x-small;
	font-weight: bold;
	color: #339933;

}

.noteText {
	font-size: x-small;
	font-weight: bold;
	color: #000000;

}

/* Other text definition tags below.... */

.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.small-x {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.helperText {  
		 
		font-size: small; 
		font-weight: bold; 
		color: #006600
}
.locationIndicatorText {  
	 
	font-size: 14px; 
	font-weight: bold; 
	text-transform: none; 
	color: #333333; 
	text-decoration: none
}
.courseTitle {
	
	font-size: medium;
	font-weight: bold;
	/*font-variant: small-caps;*/
	color: #000000;
}
.courseHeaders {
	
	font-weight: bold;
	color: #333333;
}
.currentClass {
	
	font-weight: bold;
	color: #003300;
	padding-right:10px;
}
.strong {
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.successText {
	font-weight: bold;
	color: #003300;
	font-size: small;
}
.failedText {
	font-weight: bold;
	color: #CC0000;
}
.itemNumber {
	
	font-size: small;
	font-weight: bold;
	font-variant: small-caps;
	color: #999999;
}
#hiddenItem .itemTitle, #hiddenItem .itemTitleNoLink, #hiddenItem .itemMetaPre, #hiddenItem .itemMeta, #hiddenItem .itemAuthor, #hiddenItem .noteType, #hiddenItem .noteText {    
		color: #999999
}
/*hiddenItem defines the appearance of reserve materials 
that students have chosen to hide from view. */

.user {
	font-size: small;
	font-weight: bold;
	color: #333333;
	padding-right: 10px;
}


/* statusText styles are used on the "Edit Class" page for text that indicates the current status
of materials on reserve. */
#statusText .heading {
	font-weight: bold;
	color: #000066;

}

#statusText .inProcess {
	color: #666666;
	font-weight: bold;

}

#statusText .active {
	color: #009900;
	font-weight: bold;

}

#statusText .inactive {
	color: #CC0000;
	font-weight: bold;

}

/*
****************************************
Help Screen Definitions
****************************************
*/

#helpTabs {
    float:left;
    width:100%;
    background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
    } 
	
#helpTabs ul {
    margin:0;
    padding:0;
	padding:0; /* padding to top|right and left|bottom of ul, creates space around whole nav bar */
    list-style:none;
    }
#helpTabs li {
    float:left;
    margin:3px 3px 0 3px;
    padding:0; 
    border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	}
#helpTabs a {
	float:left;
	display:block;
	background-color: #CCCCCC;
	padding:4px 20px 4px 20px; /* left padding=right padding - pixel width of left image
								bottom padding=desired overall bottom padding-pixel 
								width of bottom border, if any */
	color: #333333;
	text-decoration: none;
	font-weight: bold;
    }
	/* Commented Backslash Hack
     hides rule from IE5-Mac \*/
  #helpTabs a {float:none;}
  /* End IE5-Mac hack */ 
#helpTabs a:hover {
     color: #000066;
	text-decoration: underline;
	  }	
#helpTabs #current {
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
    }
#helpTabs #current a {
	background-color: #000066;
	color: #FFFFFF;
	text-decoration: none;
	padding-bottom:4px; /* bottom padding=top padding of mainNav a */
    }

/* 'helptopic' defines the appearance of topical headers in the helpfile navigation menu. */
a.helptopic:link {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:visited {
	
	color: #333399;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}
a.helptopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

/* 'helpsubtopic' defines the appearance of subtopic headers in the helpfile navigation menu. */
a.helpsubtopic:link {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bolder;
	left: 8px;
}
a.helpsubtopic:visited {
	
	color: #996633;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:hover {
	
	color: #999999;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
a.helpsubtopic:active {
	
	color: #993333;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	text-indent: 8px;
}
.border-helpfile {
	border: 1px solid #000066;
}

#index {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
}
#index #broadTopic a {
	color: #000066;
	font-weight: bold;
	text-decoration: none;
}
#index #broadTopic a:hover {
	color: #003399;
	font-weight: bold;
	text-decoration: underline;
}
#index #narrowTopic a {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-indent: 8px;
}
#index #narrowTopic a:hover {
	font-weight: bold;
	color: #999999;
	text-decoration: underline;
	text-indent: 8px;
}
