<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************************************
config.xml
configuration File

Reserves Direct 2.0

Copyright (c) 2004 Emory University General Libraries

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Created by Jason White (jbwhite@emory.edu)

Reserves Direct 2.0 is located at:
http://coursecontrol.sourceforge.net/

*******************************************************************************/
-->
<configuration>
	<database>
	    <dbtype>mysql</dbtype>
	    <username>reserves_user</username>
	    <pwd>30322</pwd>
	    <host>localhost</host>
	    <dbname>reserves</dbname>
	    <dbkey>client-key.pem</dbkey>
	    <dbcert>client-cert.pem</dbcert>
	    <dbca>cacert.pem</dbca>
	    <capath>/path/to/ca/dir</capath>
	    <cipher>AES</cipher>
	    <ssl>true</ssl>
	    <debug>true</debug>
	</database>
	
	<catalog>
		<catalogName>EUCLID</catalogName>
		<useCatalog>yes</useCatalog> <!-- all others may be blank if no -->
		<zhost>libcat1.cc.emory.edu</zhost>
		<zport>2200</zport>
		<zdb>Unicorn</zdb>
		<zReflector>http://dirac.library.emory.edu/cgi-bin/zGizmo.cgi</zReflector>
		<reserve_script>https://www.library.emory.edu/uhtbin/create_reserve</reserve_script>
		<holdings_script>http://www.library.emory.edu/uhtbin/holding_request</holdings_script>
		<display_reserve>http://www.library.emory.edu/uhtbin/display_reserve</display_reserve>
	</catalog>
	
	<reserves_viewer>http://libcat1.cc.emory.edu/uhtbin/cgisirsi/x/0/5?searchdata1=</reserves_viewer>
	
	<library_url>http://www.library.emory.edu</library_url>
	
	<error_log>/home/httpd/html/jbwhite/projects/reserves2_1/error.log</error_log>
	<errorEmail>jbwhite@emory.edu</errorEmail>
	<reservesEmail>jbwhite@emory.edu</reservesEmail>
	<adminEmail>jbwhite@emory.edu</adminEmail>

	<faxDirectory>/home/httpd/html/incoming/</faxDirectory>  <!-- include trailing / -->
	<faxURL>http://biliku.library.emory.edu/incoming/</faxURL>  <!-- include trailing / -->
	
	<documentDirectory>/home/httpd/html/uploaded/</documentDirectory>  <!-- include trailing / -->
	<documentURL>http://biliku.library.emory.edu/uploaded/</documentURL> <!-- include trailing / -->
	<documentCover>/home/jbwhite/html/projects/reserves2_1/admin/copyright.pdf</documentCover>  
	
	<siteURL>https://biliku/jbwhite/projects/reserves2_1</siteURL>

        <newUserEmail>
                <subject>New Account Created</subject>
                <msg>
Welcome to ReservesDirect. A new account has been created
for you or your email address has been updated. ReservesDirect allows you
to access all of your course materials online. 
For further assistance on how to use the system, click on
the "Help" link, send an email to ?deskemail, or
contact the reserves staff at your home library.


Your username is ?username to login please visit ?url		
		</msg>
        </newUserEmail>
	
	<specialUserEmail>
		<subject>Temporary Password Created</subject>
		<msg>
A temporary password has been created for you to log into the

ReservesDirect system, presumably because your standard Eagle/Dooley
netID or GBSnet id and password are not working properly. This
password will allow you to access the ReservesDirect system until your
regular campus password is working again. To change your password once
you log in, click on the "Edit Profile" link just under the
ReservesDirect logo. If you believe you have received this message in
error, or if you did not request your password to be changed, please
send an email to ?deskemail.


Please log into ?url as ?username password ?password
		</msg>
	</specialUserEmail>
       
        <specialUserDefaultPwd>newPwd</specialUserDefaultPwd>
	
	<EmailRegExp>^(.+)@(.+)$</EmailRegExp>
	
	<no_javascript_msg>A scan of your computer shows that javascript is disabled, some features of Reserves2.1 require javascript.<br/> Please contact ITD support at 7-8888 or 78888@emory.edu if you require assistance to enable javascript.</no_javascript_msg>
	
	<request_notifier>
		<last_run>2004-12-21</last_run>
	</request_notifier>
	
</configuration>
