<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************************************
XML configuration file

Created by Jason White (jbwhite@emory.edu)

This file is part of ReservesDirect

Copyright (c) 2004-2006 Emory University, Atlanta, Georgia.

Licensed under the ReservesDirect License, Version 1.0 (the "License");      
you may not use this file except in compliance with the License.     
You may obtain a copy of the full License at                              
http://www.reservesdirect.org/licenses/LICENSE-1.0

ReservesDirect is distributed in the hope that it will be useful,
but is distributed "AS IS" and WITHOUT ANY WARRANTY, without even the
implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE, and without any warranty as to non-infringement of any third
party's rights.  See the License for the specific language governing         
permissions and limitations under the License.

ReservesDirect is located at:
http://www.reservesdirect.org/

*******************************************************************************/
-->
<configuration>
    <authentication>
        <type comment="OPTIONS: LDAP/StandAlone/ANY">ANY</type>
    </authentication>

    <database comment="This information is required">
        <dbtype>mysql</dbtype>
        <username comment="Max length is 16 characters">CHANGEME</username>
        <pwd>CHANGEME</pwd>
        <host>localhost</host>
        <dbname>CHANGEME</dbname>
        <ssl>true</ssl>
        <debug>true</debug>
    </database>
    
    <test_database comment="This information is required to run automated tests.  Testing is destructive of data and requires an indepentent database">
        <dbtype>mysql</dbtype>
        <username comment="Max length is 16 characters">CHANGEME</username>
        <pwd>CHANGEME</pwd>
        <host>localhost</host>
        <dbname>CHANGEME</dbname>
        <ssl>true</ssl>
        <debug>true</debug>
    </test_database>
    
    <ils>
      <class_name>RD_Ils_EuclidTest</class_name><!-- Class returned by init ILS -->
      <view_path></view_path>
    </ils>
    
    <catalog>
        <catalogName>CHANGEME</catalogName>
        <useCatalog comment="OPTIONS: yes/no; all others may be blank if 'no'">yes</useCatalog>
        <get_bibrecord_script>http://CHANGEME.example.edu/uhtbin/get_bibrecord</get_bibrecord_script>
        <reserve_script>https://CHANGEME.example.edu/uhtbin/create_reserve</reserve_script>
        <holdings_script>http://CHANGEME.example.edu/uhtbin/holding_request</holdings_script>
        <display_reserve>http://CHANGEME.example.edu/uhtbin/display_reserve</display_reserve>
        <web_search>http://CHANGEME.example.edu/uhtbin/cgisirsi/a/1/2/3/?searchdata1=</web_search>
    </catalog>

    <ldap>
        <ldapHost comment="host name or IP address of ldap server; 'localhost' if using stunnel">CHANGEME</ldapHost>
        <ldapDomain comment="domain that holds ldap user accounts">CHANGEME.example.edu</ldapDomain>
        <ldapPort comment="'636' if connecting securely (ldaps), otherwise '389'">CHANGEME</ldapPort>
        <ldapVersion comment="ldap version, usually '3'">3</ldapVersion>
        <baseDistinguishedName comment="base for user search in ldap double bind">CHANGEME</baseDistinguishedName>
  <searchDistinguishedName comment="initial bind dn for ldap double bind">CHANGEME</searchDistinguishedName>
  <searchPassword comment="initial bind password for ldap double bind">CHANGEME</searchDistinguishedName>
        <userAttributes comment="attributes, if available, used to seed new user profile in RD">
            <canonicalName comment="user's id (used to bind/authenticate)">CHANGEME</canonicalName>
            <email comment="email address (optional)">CHANGEME</email>
            <firstName comment="user's first name (optional)">CHANGEME</firstName>
            <lastName comment="user's last name (optional)">CHANGEME</lastName>
        </userAttributes>
    </ldap>    
    
    <library_url>http://CHANGEME.example.edu</library_url>
    
    <error_log>/var/log/apache2/CHANGEME.log</error_log>
    <errorEmail>developer@example.edu</errorEmail>
    <reservesEmail>reserves@example.edu</reservesEmail>
    <adminEmail>webmaster@example.edu</adminEmail>
    
    <documentDirectory comment="include trailing /">/var/www/html/CHANGEME/uploaded/</documentDirectory>
    <documentURL comment="include trailing /">http://CHANGEME.example.edu/uploaded/</documentURL>
    <documentCover>/var/www/CHANGEME/copyright.pdf</documentCover>  

    <copyrightNoticeURL>http://CHANGEME.example.edu/copyright.html</copyrightNoticeURL>
    
    <siteURL>https://CHANGEME.example.edu/CHANGEME/</siteURL>
    <serverName>CHANGEME.example.edu</serverName>

    <newUserEmail comment="This is the message automatically sent to the user when a new account is created.">
        <subject>New Account Created</subject>
        <msg comment="Available variables: ?deskemail = ReservesDirect email address (`reservesEmail` above); ?url = ReservesDirect URL (`siteURL` above); ?username = login name of the user being addressed; ?password = password of the user being addressed.">
Welcome to ReservesDirect. A new account has been created for you, or your email address has been updated. ReservesDirect allows you to access all of your course materials online. For further assistance on how to use the system, click on the "Help" link, send an email to ?deskemail, or contact the reserves staff at your home library.

Your username is ?username . to log in, please visit: ?url        
        </msg>
    </newUserEmail>
    
    <specialUserEmail comment="This is the message automatically sent to the user when an override password is created.">
        <subject>Temporary Password Created</subject>
        <msg comment="Available variables: ?deskemail = ReservesDirect email address (`reservesEmail` above); ?url = ReservesDirect URL (`siteURL` above); ?username = login name of the user being addressed; ?password = password of the user being addressed.">
A temporary password has been created for you to log into the ReservesDirect system. This password will allow you to access the ReservesDirect system until your normal means of loging in are restored. To change your password once you log in, click on the "Edit Profile" link just under the ReservesDirect logo. If you believe you have received this message in error, or if you did not request your password to be changed, please send an email to ?deskemail.

Please log into ?url as username ?username , password ?password
        </msg>
    </specialUserEmail>
       
    <specialUserDefaultPwd>newPwd</specialUserDefaultPwd>
    
    <EmailRegExp>^(.+)@(.+)$</EmailRegExp>
    
    <no_javascript_msg>A scan of your computer shows that javascript is disabled, some features of ReservesDirect require javascript.</no_javascript_msg>
    
    <request_notifier>
        <last_run>1970-01-01</last_run>
    </request_notifier>
    
    <registar_feed>
      <activation_padding_days>14</activation_padding_days>
      <expiration_padding_days>14</expiration_padding_days>
    </registar_feed>
    <EZproxyAuthorizationKey>reallybigsecret</EZproxyAuthorizationKey>
    <BlackBoardLink>CHANGEME.edu/blackboard</BlackBoardLink>
    <ALEPHLink>CHANGEME</ALEPHLink>
    <trusted_systems comment="trusted systems id=public key element value secret key; timeout is in minutes">
      <system id="CHANGEME" timeout="30">CHANGEME</system>
    </trusted_systems>  

    <copyright_limit>CHANGEME</copyright_limit>   
    <copyright_notice>This the the copyright notice for 2010.</copyright_notice>  
</configuration>
