<?xml version="1.0" encoding="UTF-8"?> 
<!--
/*******************************************************************************
config.xml
configuration File

Reserves Direct 2.0

Copyright (c) 2004 Emory University General Libraries

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Created by Jason White (jbwhite@emory.edu)

Reserves Direct 2.0 is located at:
http://coursecontrol.sourceforge.net/

*******************************************************************************/
-->


<configuration>
	<database>
		<dbtype>mysql</dbtype>
	    <username>reserves_user</username>
	    <pwd>30322</pwd>
	    <host>localhost</host>
	    <dbname>reserves</dbname>
	    <dbkey>client-key.pem</dbkey>
	    <dbcert>client-cert.pem</dbcert>
	    <dbca>cacert.pem</dbca>
	    <capath>/path/to/ca/dir</capath>
	    <cipher>AES</cipher>
	    <ssl>true</ssl>
	    <debug>true</debug>
	</database>
	
	<catalog>
		<zhost>libcat1.cc.emory.edu</zhost>
		<zport>2200</zport>
		<zdb>Unicorn</zdb>
		<zReflector>http://dirac.library.emory.edu/cgi-bin/zGizmo.cgi</zReflector>
		<reserve_script>https://www.library.emory.edu/uhtbin/create_reserve</reserve_script>
		<holdings_script>http://www.library.emory.edu/uhtbin/holding_request</holdings_script>
	</catalog>
	
	<error_log>/home/httpd/html/jbwhite/projects/reserves2/error.log</error_log>
	<errorEmail>jbwhite@emory.edu</errorEmail>
	<reservesEmail>jbwhite@emory.edu</reservesEmail>
	<adminEmail>jbwhite@emory.edu</adminEmail>

	<faxDirectory>/home/httpd/html/incoming/</faxDirectory>  <!-- include trailing / -->
	<faxURL>http://biliku.library.emory.edu/incoming/</faxURL>  <!-- include trailing / -->
	
	<documentDirectory>/home/httpd/html/uploaded/</documentDirectory>  <!-- include trailing / -->
	<documentURL>http://biliku.library.emory.edu/</documentURL> <!-- include trailing / -->
	<documentCover>/home/jbwhite/html/projects/reserves2/admin/copyright.pdf</documentCover>  
	
	<siteURL>https://biliku/reserves2.1</siteURL>
	
	<specialUserEmail>
		<subject>Special Account Created</subject>
		<msg>
			An account was created for you with the Reserves Direct system.  
			Please log in as ? password ?
		</msg>
	</specialUserEmail>
	
	<EmailRegExp>^(.+)@(.+)$</EmailRegExp>
	
	<no_javascript_msg>A scan of your computer shows that javascript is disabled, some features of Reserves2.1 require javascript.<br/> Please contact ITD support at 7-8888 or 78888@emory.edu if you require assistance to enable javascript.</no_javascript_msg>
	
</configuration>
