<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************************************
config.xml.example
sample XML configuration file

Created by Jason White (jbwhite@emory.edu)

This file is part of ReservesDirect

Copyright (c) 2004-2006 Emory University, Atlanta, Georgia.

Licensed under the ReservesDirect License, Version 1.0 (the "License");      
you may not use this file except in compliance with the License.     
You may obtain a copy of the full License at                              
http://www.reservesdirect.org/licenses/LICENSE-1.0

ReservesDirect is distributed in the hope that it will be useful,
but is distributed "AS IS" and WITHOUT ANY WARRANTY, without even the
implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE, and without any warranty as to non-infringement of any third
party's rights.  See the License for the specific language governing         
permissions and limitations under the License.

ReservesDirect is located at:
http://www.reservesdirect.org/

*******************************************************************************/
-->
<configuration>
    <authentication>
        <type>LDAP</type><!-- OPTIONS: LDAP, StandAlone, ANY -->
    </authentication>

    <database>
        <dbtype>mysql</dbtype>
        <username>CHANGEME</username>
        <pwd>CHANGEME</pwd>
        <host>localhost</host>
        <dbname>CHANGEME</dbname>
        <ssl>true</ssl>
        <debug>true</debug>
    </database>
    
    <catalog>
        <catalogName>CHANGEME</catalogName>
        <useCatalog>yes</useCatalog> <!-- all others may be blank if no -->
        <zhost>CHANGEME.example.edu</zhost>
        <zport>2200</zport>
        <zdb>Unicorn</zdb>
        <zReflector>http://CHANGEME.example.edu/cgi-bin/zGizmo.cgi</zReflector>
        <reserve_script>https://CHANGEME.example.edu/uhtbin/create_reserve</reserve_script>
        <holdings_script>http://CHANGEME.example.edu/uhtbin/holding_request</holdings_script>
        <display_reserve>http://CHANGEME.example.edu/uhtbin/display_reserve</display_reserve>
        <web_search>http://CHANGEME.example.edu/uhtbin/cgisirsi/a/1/2/3/?searchdata1=</web_search>
    </catalog>

    <ldap>
        <ldapHost>CHANGEME</ldapHost>                <!-- host name or IP address of ldap server; "localhost" if using stunnel -->
        <ldapDomain>CHANGEME.example.edu</ldapDomain>     <!-- domain that holds ldap user accounts -->
        <ldapPort>CHANGEME</ldapPort>                <!-- "636" if connecting securely (ldaps), otherwise "389" -->
        <ldapVersion>3</ldapVersion>                    <!-- ldap version, usually "3" -->
        <baseDistinguishedName>CHANGEME</baseDistinguishedName>
        <userAttributes>                    <!-- attributes, if available, used to seed new user profile in RD -->
            <canonicalName>CHANGEME</canonicalName>        <!-- user's id (used to bind/authenticate) -->
            <email>CHANGEME</email>                <!-- email address (optional) -->
            <firstName>CHANGEME</firstName>        <!-- user's first name (optional) -->
            <lastName>CHANGEME</lastName>                <!-- user's last name (optional) -->
        </userAttributes>
    </ldap>    
    
    <library_url>http://CHANGEME.example.edu</library_url>
    
    <error_log>/var/log/apache2/CHANGEME.log</error_log>
    <errorEmail>developer@example.edu</errorEmail>
    <reservesEmail>reserves@example.edu</reservesEmail>
    <adminEmail>webmaster@example.edu</adminEmail>

    <fax>
        <directory>/var/www/html/CHANGEME/incoming/</directory>  <!-- include trailing / -->
        <URL>http://CHANGEME.example.edu/CHANGEME/incoming/</URL>  <!-- include trailing / -->
        <copyright>/var/www/CHANGEME/copyright.pdf</copyright>
        <log>/var/spool/hylafax/log/CHANGEME.log</log>
        <fax2pdf_bin>/CHANGEME/path/to/fax2pdf</fax2pdf_bin>
        <faxinfo_bin>/CHANGEME/path/to/faxinfo</faxinfo_bin>
        <gs_bin>/CHANGEME/path/to/gs</gs_bin>
    </fax>
    
    <documentDirectory>/var/www/html/CHANGEME/uploaded/</documentDirectory>  <!-- include trailing / -->
    <documentURL>http://CHANGEME.example.edu/uploaded/</documentURL> <!-- include trailing / -->
    <documentCover>/var/www/CHANGEME/copyright.pdf</documentCover>  

    <copyrightNoticeURL>http://CHANGEME.example.edu/copyright.html</copyrightNoticeURL>
    
    <siteURL>https://CHANGEME.example.edu/CHANGEME/</siteURL>

    <newUserEmail>
        <subject>New Account Created</subject>
        <msg>
Welcome to ReservesDirect. A new account has been created
for you, or your email address has been updated. ReservesDirect 
allows you to access all of your course materials online. 
For further assistance on how to use the system, click on
the "Help" link, send an email to ?deskemail, or contact the 
reserves staff at your home library.

Your username is ?username . to log in, please visit:
?url        
        </msg>
    </newUserEmail>
    
    <specialUserEmail>
        <subject>Temporary Password Created</subject>
        <msg>
A temporary password has been created for you to log into the
ReservesDirect system, presumably because your standard CHANGEME
CHANGEME username and password are not working properly. This
password will allow you to access the ReservesDirect system until your
regular campus password is working again. To change your password once
you log in, click on the "Edit Profile" link just under the
ReservesDirect logo. If you believe you have received this message in
error, or if you did not request your password to be changed, please
send an email to ?deskemail.

Please log into ?url 
as username ?username , password ?password
        </msg>
    </specialUserEmail>
       
    <specialUserDefaultPwd>newPwd</specialUserDefaultPwd>
    
    <EmailRegExp>^(.+)@(.+)$</EmailRegExp>
    
    <no_javascript_msg>A scan of your computer shows that javascript is disabled, some features of ReservesDirect require javascript.<br/> Please contact CHANGEME at CHANGEME or CHANGEME@example.edu if you require assistance to enable javascript.</no_javascript_msg>
    
    <request_notifier>
        <last_run>1970-01-01</last_run>
    </request_notifier>
    
    <registar_feed>
    	<activation_padding_days>14</activation_padding_days>
    	<expiration_padding_days>14</expiration_padding_days>
    </registar_feed>
    
</configuration>
